*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: flex;
  border-bottom: black solid 1px;
  font-size: 14px;
  font-weight: bold;
  font-family: verdana;
  align-items: center;
  margin-bottom: 20px;
}

.logo{
  display: flex;
  align-items: center;
  margin-left: 30px;
  flex-grow: 1;
}
.logo img{
  margin-right: 12px;
  width: 70px;
  height:60px;
}
.logo span{
color: mediumaquamarine;
}
.nav nav{
  display: flex;

}
.nav span{
  display: inline-block;
  padding: 20px 10px;
  padding-right: 40px;
}
a{
  color: black;
}
/*end header with navigation*/
/*end header with navigation*/
.content{
  display: flex; /* ADDED */
  border: orange solid 5px;
  /*width: 630px; REMOVED, AS 630PX IS THE SIZE OF JUST THE FIRST COLUMN, NOT ALL THREE. */

}
/*column large/lead story*/
.large{
  display: flex;
  flex-direction: column;
  width: 630px;
  background-color: red;
}
.text-img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}
.text-img span{
}
.text-content{
  padding: 30px 0px 30px 0px;
  width:630px;
}
.text-container{
  padding: 30px 0px 30px 0px;
  width:630px;
  background-color: blue;
}
/*column large/lead story end*/
/*column large/lead story end*/

/*column medium story*/
.medium{
  width: 300px;
  display: flex;
  flex-direction: column;
 /* margin: 0px 0px 0px 645px; REMOVED - SHOULDN'T NEED THIS, AS FLEX CONTAINER WILL PLACE ALL THE COLUMNS NEXT TO ONE ANOTHER */
}

.story-medium{
display: flex;
}
.content-medium{
  display: flex;
  flex-direction: column;
  padding: 30px 0px 30px 0px;
}
